---
layout: load-css
title: Home
---

<div class="index-content">
  <div class="index-imgs">

        
    <a href="/my_pages/art/"><img class="index-img" src="{{ site.url }}/assets/images/index/1.png"></a>


    <a href="/my_pages/music/"><img class="index-img" src="{{ site.url }}/assets/images/index/2.png"></a>


    <a href="#"><img class="index-img" src="{{ site.baseurl }}/assets/images/index/3.png"></a>


    <a href="#"><img class="index-img" src="{{ site.baseurl }}/assets/images/index/4.png"></a>


    <a href="#"><img class="index-img" src="{{ site.baseurl }}/assets/images/index/5.png"></a>


    <a href="#"><img class="index-img" src="{{ site.baseurl }}/assets/images/index/6.png"></a>


    <a href="#"><img class="index-img" src="{{ site.baseurl }}/assets/images/index/7.png"></a>


    <a href="#"><img class="index-img" src="{{ site.baseurl }}/assets/images/index/8.png"></a>

  </div>
</div>


<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->