.sidebar img {
  display: none;
}

@media (min-width: 48em) {
  .content {
    margin-left: 12rem
  }
  .sidebar-about {
    display: none;
  }
  .cards {
    margin-top: 20px;
  }
  .sidebar img {
    display: block;
    max-width: 100%;
  }
}

.sidebar-nav-item:before {
  content: ".";
}

.sidebar a.sidebar-nav-item {
  text-transform: lowercase;
}

.sidebar img {
  max-width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 1 1 220px;
  min-width: 0;
  padding: 0 20px;
}

.card * {
/*  white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-content {
  display: flex;
  align-items: center;
  max-width: 35rem;
  min-height: 35rem;
  margin-left: auto;
  margin-right: auto;
}

.index-content img {
  max-width: 100%;
  margin: 0;
}

.index-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.index-img {
  flex: 0 1 80px;
}